<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="종이 모형"
	useThumbDots="false"
	useFullscreenExpand="false"
	showExpandButton="true"
	showThumbsButton="true"

>
  <image imageURL="images/20160828_170055.jpg"
	thumbURL="thumbs/20160828_170055.jpg"
	linkURL="images/20160828_170055.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170055.jpg">
    <title><![CDATA[20160828_170055]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170213.jpg"
	thumbURL="thumbs/20160828_170213.jpg"
	linkURL="images/20160828_170213.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170213.jpg">
    <title><![CDATA[20160828_170213]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170302.jpg"
	thumbURL="thumbs/20160828_170302.jpg"
	linkURL="images/20160828_170302.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170302.jpg">
    <title><![CDATA[20160828_170302]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170320.jpg"
	thumbURL="thumbs/20160828_170320.jpg"
	linkURL="images/20160828_170320.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170320.jpg">
    <title><![CDATA[20160828_170320]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170346.jpg"
	thumbURL="thumbs/20160828_170346.jpg"
	linkURL="images/20160828_170346.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170346.jpg">
    <title><![CDATA[20160828_170346]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170416.jpg"
	thumbURL="thumbs/20160828_170416.jpg"
	linkURL="images/20160828_170416.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170416.jpg">
    <title><![CDATA[20160828_170416]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170449.jpg"
	thumbURL="thumbs/20160828_170449.jpg"
	linkURL="images/20160828_170449.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170449.jpg">
    <title><![CDATA[20160828_170449]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170510.jpg"
	thumbURL="thumbs/20160828_170510.jpg"
	linkURL="images/20160828_170510.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170510.jpg">
    <title><![CDATA[20160828_170510]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170538.jpg"
	thumbURL="thumbs/20160828_170538.jpg"
	linkURL="images/20160828_170538.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170538.jpg">
    <title><![CDATA[20160828_170538]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170653.jpg"
	thumbURL="thumbs/20160828_170653.jpg"
	linkURL="images/20160828_170653.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170653.jpg">
    <title><![CDATA[20160828_170653]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170759.jpg"
	thumbURL="thumbs/20160828_170759.jpg"
	linkURL="images/20160828_170759.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170759.jpg">
    <title><![CDATA[20160828_170759]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170826.jpg"
	thumbURL="thumbs/20160828_170826.jpg"
	linkURL="images/20160828_170826.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170826.jpg">
    <title><![CDATA[20160828_170826]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_170904.jpg"
	thumbURL="thumbs/20160828_170904.jpg"
	linkURL="images/20160828_170904.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_170904.jpg">
    <title><![CDATA[20160828_170904]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171000.jpg"
	thumbURL="thumbs/20160828_171000.jpg"
	linkURL="images/20160828_171000.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171000.jpg">
    <title><![CDATA[20160828_171000]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171038.jpg"
	thumbURL="thumbs/20160828_171038.jpg"
	linkURL="images/20160828_171038.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171038.jpg">
    <title><![CDATA[20160828_171038]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171109.jpg"
	thumbURL="thumbs/20160828_171109.jpg"
	linkURL="images/20160828_171109.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171109.jpg">
    <title><![CDATA[20160828_171109]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171130.jpg"
	thumbURL="thumbs/20160828_171130.jpg"
	linkURL="images/20160828_171130.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171130.jpg">
    <title><![CDATA[20160828_171130]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171255.jpg"
	thumbURL="thumbs/20160828_171255.jpg"
	linkURL="images/20160828_171255.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171255.jpg">
    <title><![CDATA[20160828_171255]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171338.jpg"
	thumbURL="thumbs/20160828_171338.jpg"
	linkURL="images/20160828_171338.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171338.jpg">
    <title><![CDATA[20160828_171338]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171406.jpg"
	thumbURL="thumbs/20160828_171406.jpg"
	linkURL="images/20160828_171406.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171406.jpg">
    <title><![CDATA[20160828_171406]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171505.jpg"
	thumbURL="thumbs/20160828_171505.jpg"
	linkURL="images/20160828_171505.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171505.jpg">
    <title><![CDATA[20160828_171505]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171535.jpg"
	thumbURL="thumbs/20160828_171535.jpg"
	linkURL="images/20160828_171535.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171535.jpg">
    <title><![CDATA[20160828_171535]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171552.jpg"
	thumbURL="thumbs/20160828_171552.jpg"
	linkURL="images/20160828_171552.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171552.jpg">
    <title><![CDATA[20160828_171552]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171613.jpg"
	thumbURL="thumbs/20160828_171613.jpg"
	linkURL="images/20160828_171613.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171613.jpg">
    <title><![CDATA[20160828_171613]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/20160828_171722.jpg"
	thumbURL="thumbs/20160828_171722.jpg"
	linkURL="images/20160828_171722.jpg"
	linkTarget="_blank"
	sourcePath="D:\1\20160828_171722.jpg">
    <title><![CDATA[20160828_171722]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>